<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

    <main>
        <section class="main-container">
        <img src="/images/img-home-banner.jpg" alt="Logo" class="home-banner">

        <h2>Basado en tu última visita</h2>

        <section class="ultima-visita">

            <%- include('./partials/article'); %>
            <%- include('./partials/article'); %>
            <%- include('./partials/article'); %>
            <%- include('./partials/article'); %>
            
        </section>

        <h2>Ofertas</h2>

        <section class="ofertas">


            <%- include('./partials/article'); %>
            <%- include('./partials/article'); %>
            <%- include('./partials/article'); %>
            <%- include('./partials/article'); %>
            

        </section>
    </section>
    </main>

    <%- include('./partials/footer'); %>